<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content='{{ page.description }}'>
        <link href="/assets/css/styles.css" rel="stylesheet">
    </head>

    <body>    
        <header>
            <h1>Välkommen till vår sida</h1>
            {% include navigation.html %}
        </header>

        <main>
        {{ content }}   
        </main>

        <footer>
            <p>© 2024 Grupp 3</p>
        </footer>
    </body>

    <script src="/assets/js/main.js"></script>
</html>
