<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content='{{ page.description }}'>
        <link href="/assets/css/default.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="/assets/images/Blue_Technology_Corporation_Company_Logo_.png">
    </head>

    <body>
        <header>
            <button class="logo-btn" onclick="reveal()">
                <img class="logo-img" src="/assets/images/Blue_Technology_Corporation_Company_Logo_.png" alt="Fin logga (klicka inte)">
            </button>
            <audio loop id="audio">
                <source src="/assets/sound/Agila Tider.mp3">
            </audio>
            {% include navigation.html %}
        </header>

        <main>
        {{ content }}   
        </main>

        <footer>
            {% include names.html %}
        </footer>
    </body>

    <script>
        function reveal() {
            let audio = document.getElementById("audio");

            return audio.paused ? audio.play() : audio.pause();
        }
    </script>
</html>
